body {
  margin-top: $HEADER;
  @media (max-width: $screen-xs-max) {
    margin-top: $HEADER-XS;
  }
}

.seccioncontador {
  background: url('#{$images-path}/bg-parallax-section.jpg') center no-repeat / cover;
  display: block;
  position: relative;
  height: 100%;
  padding: 80px 0px;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    bottom: 0px;
    background:$shark;
	   opacity: 0.50;
	  -moz-opacity: 0.50;
	  filter:alpha(opacity=50);
  }
}
.main__prefooter {
  @extend .seccioncontador ;
  padding: 40px 0px;
   background: url('#{$images-path}/backgroundtestimonio.jpg')left repeat / contain;

   &::before{
     background: $tuna;
     opacity: 0.90;
   }
 }

/*Alteracion del Carousel */
.carousel-indicators {
  bottom: -5px;
}

.carousel-indicators li {
  background-color: white;
  border: 1px solid white;
}
.carousel-indicators .active {
  background-color: $mandy;
  border: 1px solid $mandy;
}
