
.seccioncontador {
  background: url('../images/bg-parallax-section.jpg') center no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  height: 100%;
  padding: 130px 0px;
}

.conter__card {
  text-align: center;
  display: block;

  .conter__image{
    margin: 0 auto;
  }
}
