.main-footer {
  background-color: rgb(44,48,51);
  padding: 45px 0;

  .menu__listado {
    > li {
      padding: 0 10px;
      line-height: 2;

      @media (min-width: $screen-sm-min) {
        padding: 0 5px;
        &:not(:last-child) {
          border-right: 1px solid white;  
          line-height: 1;
        }
      }

      > a {
        text-decoration: none;
        color: white;
        padding-right: 5px;
      }
    }
  }
  .social__icon {
    margin-top: 1em;
    margin-left: 5px;
  }
}
