// Colors
$shark :         rgb(44, 48, 51);
$dove-gray :     rgb(103, 103, 103);
$tuna :          rgb(58, 59, 63);
$seashell :      rgb(241, 241, 241);
$mandy :         rgb(233, 100, 98);
// Constants
$HEADER :        100px;
$HEADER-XS :     60px;

// Animacion
$cubic-efect :  cubic-bezier(.17,.67,.83,.67);
